.row.card
  .front
    %p{:class => "celeb-name"}
      = "#{celebrity.first_name} #{celebrity.last_name}"
      <a  name="#{celebrity.id}"></a>
    .img-container
      = image_tag("#{celebrity.photo_url}", :class => "img-responsive")
    .bar-chart
      %svg{:class => "chart", :id => "celeb-#{celebrity.id}"}
    %p{:class => "action-text"}
      = "Put #{celebrity.first_name} on the:"
    = form_for celebrity, :remote => true, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f|
      - user_id = current_user.nil? ? 1 : current_user.id
      = f.simple_fields_for :celebrity_votes, celebrity.celebrity_votes.find_or_initialize_by(celebrity: celebrity, user_id: user_id) do |cv|
        - prefix = "celebrity[celebrity_votes_attributes][#{celebrity.id}]"
        .custom_radio
          %label
            = radio_button_tag "#{prefix}[vote_value]", 1, cv.object.vote_value == 1
            = label_tag "#{prefix}[vote_value]_1", '<div class="letter-container"><span class="letter-text">A</span></div><br/><div class="list-container"><span class="list-text">List</span></div>'.html_safe, :class => "label-content-container"
        .custom_radio
          %label
            = radio_button_tag "#{prefix}[vote_value]", 2, cv.object.vote_value == 2
            = label_tag "#{prefix}[vote_value]_2", '<div class="letter-container"><span class="letter-text">B</span></div><br/><div class="list-container"><span class="list-text">List</span></div>'.html_safe, :class => "label-content-container"
        .custom_radio
          %label
            = radio_button_tag "#{prefix}[vote_value]", 3, cv.object.vote_value == 3
            = label_tag "#{prefix}[vote_value]_3", '<div class="letter-container"><span class="letter-text">C</span></div><br/><div class="list-container"><span class="list-text">List</span></div>'.html_safe, :class => "label-content-container"
        .custom_radio
          %label
            = radio_button_tag "#{prefix}[vote_value]", 4, cv.object.vote_value == 4
            = label_tag "#{prefix}[vote_value]_4", '<div class="letter-container"><span class="letter-text">D</span></div><br/><div class="list-container"><span class="list-text">List</span></div>'.html_safe, :class => "label-content-container"

        - if current_user
          = cv.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }

  .back

:javascript
  window.raw_data = #{celebrity.graph_data}
  graph_data = [raw_data[0]/raw_data[4],raw_data[1]/raw_data[4],raw_data[2]/raw_data[4],raw_data[3]/raw_data[4]]

  chart_width = $('.all-cards').width() - $('.all-cards').width()*0.01;
  //$('#celeb-#{celebrity.id}').width();
  chart_height = $('.card').first().height()*0.20;
  barHeight = chart_height/4 - .01;

  //200;
  rounded_corners = 5;
  padding = "fill:#f89750;stroke:white;stroke-width:5;fill-opacity:1;stroke-opacity:1;";
  min_width = 65;
  var letters = ["A","B","C","D"]
  var x = d3.scale.linear()
    .domain([0, 1])
    .range([min_width, chart_width]);
  var chart = d3.select(".chart")
    .attr("width", chart_width)
    .attr("height", chart_height);
  var bar = chart.selectAll("g")
    .data(graph_data)
    .enter().append("g")
    .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });
  bar.append("rect")
    .attr("width", x)
    .attr("height", barHeight)
    .attr("style", padding)
    .attr("rx", rounded_corners)
    .attr("ry", rounded_corners);
  bar.append("text")
    //.attr("x", function(d) { return x(d) - 3; })
    .attr("x", 10)
    .attr("y", barHeight / 2)
    .attr("dy", ".35em")
    .attr("text-anchor", "start")
    .text(function(d, idx) { return letters[idx] + " " + Math.round(d*100) + '%'; });

  $(document).ajaxError(function (e, xhr, settings) {
    if (xhr.status == 401) {
      window.location.replace("/users/sign_up");
    }
  });

  $('.custom_radio').on('change', function() {
    $(this.parentNode).ajaxSubmit();
  });

  //$('.celeb-name').fitText(1, {maxFontSize: '32px' });
  //jQuery('.letter-text').fitText(1 {minFontSize: '5px', maxFontSize: '30px' });
  //jQuery('.list-text').fitText(1, {minFontSize: '5px', maxFontSize: '30px' });
  jQuery('.letter-text').fitText(1.2, { minFontSize: '5px', maxFontSize: '90px' });
  jQuery('.list-text').fitText(1.2, { minFontSize: '5px', maxFontSize: '40px' });
