.all-cards
  - @celebrities.each.with_index do |c, index|
    .row.col-xs-12.card
      %p
        = "#{c.first_name} #{c.last_name}"
        <a  name="#{c.id}"></a>
      = image_tag c.photo_url, :class => "img-responsive"
      = form_for c, :remote => true, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f|
        = f.simple_fields_for :celebrity_votes, c.celebrity_votes.find_or_initialize_by(celebrity: c) do |cv|
          - prefix = "celebrity[celebrity_votes_attributes][#{index}]"
          .custom_radio2
            %label
              = radio_button_tag "#{prefix}[vote_value]", 1, cv.object.vote_value == 1
              = label_tag "#{prefix}[vote_value]_1", 'A List'
          .custom_radio2
            %label
              = radio_button_tag "#{prefix}[vote_value]", 2, cv.object.vote_value == 2
              = label_tag "#{prefix}[vote_value]_2", 'B List'
          .custom_radio2
            %label
              = radio_button_tag "#{prefix}[vote_value]", 3, cv.object.vote_value == 3
              = label_tag "#{prefix}[vote_value]_3", 'C List'
          .custom_radio2
            %label
              = radio_button_tag "#{prefix}[vote_value]", 4, cv.object.vote_value == 4
              = label_tag "#{prefix}[vote_value]_4", 'D List'

          - if current_user
            = cv.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
          <button name="button" type="submit" class="btn btn-primary" value="Vote!">Vote!</button>
      %hr

  = will_paginate @celebrities

