= link_to 'Home', root_path

%h4 New Celebrity
%hr



= simple_form_for @celebrity,  :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f|
  = f.input :first_name
  = f.input :last_name
  = f.button :submit, class: 'btn btn-primary'


= link_to 'Bulk Import', celebrities_admin_bulk_import_path
