<!DOCTYPE html>
%html
%head
  %title Alist
  <meta name="description" content="You decide which celebrities are on the A-List, not Hollywood!">
  <meta name="keywords" content="celebrity, pop culture, pop-culture, hollywood">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
  = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Lato'
  = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'

  = csrf_meta_tags

%body
  %h1 The Official A List
  .header
    .alerts.text-center
      - if notice
        %p
          .alert.alert-success= notice
      - if alert
        %p
          .alert.alert-warming= alert
    %ul.text-center.navigation
      - if current_user
        %li
          = link_to 'Log Out', destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Sign Up', new_user_registration_path
        %li
          = link_to 'Log In', new_user_session_path
  .container-fluid
    = yield

